<div class="jumbotron text-center" *ngIf="submitted">
    <h2>Thanks for your submission!</h2>
    <p>We appreciate it!</p>
</div>

<form (ngSubmit)="processForm()" *ngIf="!submitted">

    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" required
            [(ngModel)]="user.name"
            #name>

        {{ name.className }}
    </div>

    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="username" required
            [(ngModel)]="user.username"
            #username> 

        {{ username.className }}
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

    {{ diagnostic }}

</form>